.style {
font-weight: bold; 
margin: 5px;
}

.img {
margin:10px;
}

.body{
  width: 600px;
  height: 50px;
  padding: 10px;
}

.body1 {
margin: 20px;
}
#photo{
  padding: 10px;
}
.search {
  padding: 10px;
}

#btn:hover {
  background-color: lightpink;
}

#but{
  margin:10px;
}

.post{
  padding: 20px;
  font-size: 60px;
}

.link{
 margin-top: 20px;
 padding: 20px;
}
#link {
  padding: 15px;
}
#space {
  margin-right: 30px;
  margin-top: -70px;
}
.no-decoration {
  text-decoration: none; /* Remove underline */
}

.black-text {
  color: black; /* Set text color to black */
}


/* Add space between buttons */
.gap-3 > * {
  margin-right: 1rem; /* Adjust spacing as needed */
}

/* Optional: Adjust button position */
.position {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -30px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.app {
  color: grey;
  margin-top: 20px;
}

.down {
  margin-bottom: 15px;
}

.shift {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.size {
  line-height: 30px;
  font-size: x-large;
}

.head {
  margin-bottom: 20px;
}

.shift1 {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

.jump {
  margin-bottom: 10px;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
