body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
 
  .overview .btn {
    padding: 10px;
    margin-right: 20px; 
    margin-left: 30px;
  }
  .btn {
    border: 1px solid black; /* Add border with black color */
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: transparent; /* Set background color to transparent */
    border-radius: 10px;
}
.btn:hover {
    background-color: pink;
  }
  















  /* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }


/* Style the search container */
.search-container {
    float: right;
}

.search-container form input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
}

.search-container form button {
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
   

    .overview {
        flex-direction: column;
    }
}